.DS_Store
.ipynb_checkpoints/
__pycache__/

.eggs/

tools.egg-info/*
tools.egg-info
*.zip

sphinx*
*.sty
*.cls
*.ist


__pycache__

.doctrees

*.tar.gz

.private-key.json
.encoded-key.json

.ipynb_checkpoints